In [5]:
import csv

In [6]:
with open('D:/SEM 3/Data Science/Test_Data.csv','r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['ï»¿YearsOfExperince', 'Salary']
['8', '24466']
['6', '89365']
['8', '56709']
['8', '44499']
['3', '33037']
['5', '40064']
['2', '99202']
['4', '72067']
['6', '46603']
['9', '77170']
['7', '57917']
['3', '27244']
['9', '23536']
['3', '82648']
['2', '90203']
['4', '95805']
['8', '43617']
['9', '79731']
['10', '86310']
['1', '66248']
['5', '47528']
['10', '14934']
['2', '82474']
['5', '99696']
['7', '96431']
['9', '76718']
['4', '84581']
['3', '68143']
['2', '53376']
['2', '80409']
['4', '75207']
['1', '13255']
['7', '22107']
['4', '13879']

In [10]:
import pandas as pd 
data = pd.read_csv('D:/SEM 3/Data Science/Test_Data.csv')
print(data.dtypes)

YearsOfExperince    int64
Salary              int64
dtype: object

In [11]:
print(data.shape)

(34, 2)

In [12]:
print(data.describe())

       YearsOfExperince        Salary
count         34.000000     34.000000
mean           5.294118  60740.558824
std            2.801833  27593.360236
min            1.000000  13255.000000
25%            3.000000  40952.250000
50%            5.000000  67195.500000
75%            8.000000  82604.500000
max           10.000000  99696.000000

In [13]:
print(data.skew())

YearsOfExperince    0.161831
Salary             -0.326289
dtype: float64

In [14]:
from numpy import set_printoptions
from sklearn import preprocessing

In [ ]:
data_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
data_rescaled = data_scaler.fit_transform(Array)

NameError: name 'array' is not defined

In [17]:
from sklearn.preprocessing import Normalizer
data_normalizer = Normalizer(norm='l2').fit(array)
data_normalized = data_normalizer.transform(array)

NameError: name 'array' is not defined

In [16]:
set_printoptions(precision=2)
print("\n Normalized Data: \n", data_normalized[0:3])

NameError: name 'data_normalized' is not defined